@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,400&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
  animation: fadein 1s;
}

.background.hidden {
  display: none;
}

.date {
  font-size: 80px;
  animation: fadein 2s;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.saying {
  font-size: 45px;
  display: flex;
  align-items: center;
  animation: fadein 2s;
  flex: 1;
}

.saying .text {
  font-style: italic;
}

.arrow {
  margin: 0px 20px;
  font-weight: 400;
  padding: 0px 15px;
  border-radius: 50%;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  flex: 1;
}

.arrow:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .5);
}

.saying-item {
  flex: 1;
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}